@import url("../css-config/media.css") screen;
*{
    margin:0px;
    padding: 0px;
}


.main-header{
    padding: 6px 20px;
   position: sticky;
   top: 0;
    background-color: #8e2de2;
    color:aliceblue;
    
    
    
}
li{
    display: flex;
    text-decoration: none;
}
.header-content{
    display: flex;
    justify-content:space-between;
    align-items: center;
   
    
}

.left{
    display: none;
    gap: 40px;
}
.center{
    font-size: 22px;
   
    left: -40px;
    font-weight: 700;
    position: relative;
}
.right{
    display: flex;
    gap: 20px;
    align-items: center;
}
.right>svg{
    font-size: 20px;
    cursor:pointer ;
}
.cart-icon{
    position: relative;
}
.cart-icon>span{
    min-width: 10px;
    text-align: center;
    background-color: #8e2de2;
    padding: 2.5px;
    position: absolute;
    top:-5px;
    right: -12px;
    font-size: 12px;
    line-height: 1;
    border-radius: 10px;
}

@media screen and (min-width: 640px) {
    .main-header{
        background-color: #212121;
        padding: 8px 80px ;
        position: sticky;
        top: 0;
        
    }
    .left{
        display: flex;
    }
}

@media screen and (min-width: 768px) {
  
  
}

@media screen and (min-width: 1024px) {}

@media screen and (min-width: 1200px) {}


